<h3>Reset your VCDelta.org password</h3>
<p>Forgetting your password happens. Enter the email you used to sign up, and we'll email you instructions on how to reset it.</p>
<%= simple_form_for :reset, url: password_resets_path,:html => {:class => 'form-horizontal' } do |reset| %>
  <div class="well">
    <%= reset.input :email, :hint => "The email you used to create your account", :input_html => { :class => "span5" } %>
  </div>
  <%= reset.button :submit, "Reset my password!", :class => 'btn btn-primary btn-large' %>
<% end %>