<h3>VCDelta.org implementation notes</h3>

<p>VCDelta.org was built with love in the beautiful Texas Hill Country with Rails 4 and Twitter Bootstrap, and it lives over on Heroku. It's particularly dependent on the <%= link_to "nested_form gem", "https://github.com/ryanb/nested_form" %>, for which I am grateful.</p>

<p>The source code for VCDelta.org will be placed on GitHub shortly, and linked to from here. Suggestions for improving the quality of VCDelta are <strong>always</strong> welcome.</p>

<p>Note that I had nothing to do with the implementation of the <%= link_to "@VCDelta", "http://twitter.com/vcdelta" %> Twitter bot. That one's all Jerry.</p>

<p><em>- Greg Yardley</em></p>
