<h3>Why hello, Captain Placeholder</h3>
<p>Yes, we need to write a specification.</p>
<p>We should probably also try to iron out the kinks of the format a bit - putting a version on it in case the format changes, adding an investor name, URL, and update date in case it gets separated from its owner, etc.</p>