<h3>Edit your Investments.json file</h3>
<p>Here's what we found in your Investments.json file.</p>
<p>You can edit your existing set of investments or add new ones to the list.</p>
<p>Please complete your editing before re-creating your Investments.json file. There's no save halfway-through.</p>