<h3>Edit your Investments.js file</h3>
<p>Here's what we managed to import from Crunchbase. Please look over it for accuracy.</p>
<p>You can edit your existing set of investments or add new ones to the list.</p>
<p>Please complete your editing before creating your file Investments.js file. There's no save halfway-through.</p>