<h3>Create a new Investments.json file</h3>
<p>For each investment, you'll require the company's name &amp; website, the series you invested in, and the month you invested.</p>
<p>You can also add significant corporate events, like exits. These are completely optional.</p>
<p>Please enter all your investments before creating your Investments.json file. There's no save halfway-through.</p>