<h3>Create a new Investments.js file</h3>
<p>For each investment, you'll require the company's name &amp; website, the series you invested in, and the month you invested.</p>
<p>You can also add significant corporate events, like exits. These are completely optional.</p>
<p>If you've got information about your firm on <%= link_to "Crunchbase", "http://www.crunchbase.com" %>, get a head-start by <%= link_to "importing your data", crunchbase_investors_path %>.
<p>Please enter all your investments before creating your Investments.js file. There's no save halfway-through.</p>