<h3>Your Investments.js file is ready!</h3>
<p>Copy the below JSON exactly as it appears, before you leave this page. We don't save your file after you leave, and we'd hate to have you enter all that information again.</p>
<p>Note that you are still responsible for saving and uploading your Investments.js file to a publicly-accessible place.</p>
<h3>Investments.js:</h3>
<div class="well">
<%= render :partial => 'investors/create.json.jbuilder' %>
</div>
