<footer class="navbar navbar-fixed-bottom">
  <nav class="navbar-inner">
    <div class="container">
      <p class="navbar-text pull-left"><%= link_to "VCDelta.org coded by Greg Yardley.", about_path %></p>
      <ul class="nav pull-right">
        <li><%= link_to "View source on GitHub", "https://github.com/gyardley/vcdelta" %></li>
      </ul>
    </div>
  </nav>
</footer>