<footer class="navbar navbar-fixed-bottom">
  <nav class="navbar-inner">
    <div class="container">
      <p class="navbar-text pull-left">VCDelta.org coded by Greg Yardley.</p>
      <ul class="nav pull-right">
        <li><%= link_to "Technical information", about_path %></li>
        <li><%= link_to "View source on GitHub", "/" %></li>
      </ul>
    </div>
  </nav>
</footer>